/bin/
/Componentes_propios/nbproject/private/
/Componentes_propios/build/
/Componentes_propios/dist/
/JavaApplication4/nbproject/private/
/JavaApplication4/build/
/Paleta/nbproject/private/
/Paint/nbproject/private/
/Paint/build/
